<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Angular2 tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />
    <style>
        body { padding-top: 60px; }
    </style>
</head>
<body>
<mpt-app />
<script th:src="|//${assetHost}/${manifest.get('polyfills.js')}|"></script>
<script th:src="|//${assetHost}/${manifest.get('vendor.js')}|"></script>
<script th:src="|//${assetHost}/${manifest.get('main.js')}|"></script>
<!-- Google Analytics: change UA-74585747-1 to be your site's ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74585747-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>